body {
  max-width: 1024px;
}

h1 {
  text-align: center;
}

section {
  background-color: red;
  text-align: center;
}

.footer-div {
  display: flex;
  justify-content: flex-end;
  height: 100px;
  background-color: rgb(243, 255, 190);
}

.footer-link {
  align-self: flex-end;
  color: grey;
  text-decoration: none;
}

.footer-link:hover {
  color: #ec8383;
  text-shadow: 0px 4px 17px grey;
}

.test-div {
  height: 50px;
  width: 100%;
  background-color: hotpink;
}